{% extends "base.html" %}

{% block title %}关于我{% endblock %}

{% block page_content %}


<div class="container">
    <div class="row">
        <div class="jumbotron" style="padding-bottom:100px;padding-left:100px;background:#426579;">
            <div class="container">
                <h2 style="color:#E7DBDB">Tanggaozhi's Blog</h2>
                <p class="lead" style="color:#E7DBDB">Keep Hungry,Keep Foolish! </p>
                <a href="about"><button class="btn btn-danger btn-wide the-font">关于我</button></a>
                <a href="new"><button class="btn btn-danger btn-wide the-font">写文章</button></a>
            </div>
        </div>
            <article class="article the-font" style="background:url('https://avatars3.githubusercontent.com/u/45590660?s=460&u=6d5707a674e76a9cf3a7b193bf3a8ae2bae14528&v=4')">
                <div class="container">
                    <div class="row">
                            <div class="container text-center">
                                <h1 class="lead" style="color:#ff2ffc">Tang Gaozhi</h1>
                                <ul class="list-unstyled" style="color:#ff2ffc">
                                    <li><strong>所在地：广州</strong></li>
                                    <li><strong>学校：华南师范大学</strong></li>
                                    <li><strong>邮箱：20182131141@m.scnu.edu.cn</strong></li>
                                </ul>
                            </div>
                    </div>
                </div>
            </article>
    </div>
</div>
{% endblock %}
